<mat-card class="bird-card" *ngFor="let bird of birds" (click)="selectBird(bird)" [ngClass]="{ 'active': selectedBird?.name === bird.name }">
	<div class="bird-card-content">
		<img class="bird-image" [src]="getBirdImagePath(bird.name)" alt="{{ bird.name }}" />
		<div class="bird-info">
			<h3>{{ bird.name }}</h3>
			<p><strong><em>{{ bird.species }}</em></strong></p>
			<p><strong>Region:</strong> {{ bird.region }}</p>
			<p><strong>Season:</strong> {{ bird.season }}</p>
		</div>
	</div>
</mat-card>