<mat-toolbar color="primary">
	<span>Bird Migration Tracker</span>
	<span class="spacer"></span>
	<a mat-button href="https://claudiocampos.com" target="_blank">Portfolio</a>
	<a mat-icon-button href="https://github.com/ccampos/bird-migration-tracker" target="_blank"
		aria-label="GitHub Repo">
		<mat-icon svgIcon="github"></mat-icon>
	</a>
</mat-toolbar>

<p *ngIf="showTooltip" class="tooltip-message">
	<span class="bouncy-emoji">👇🏼</span> Click a bird card to begin the journey!
</p>

<div class="layout-content">
	<app-map [selectedBird]="clickedBird"></app-map>
	<app-bird-list (birdSelected)="selectBird($event)"></app-bird-list>
</div>